In [1]:
import pandas as pd
fake_df = pd.read_csv('fake.csv')
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [2]:
true_df = pd.read_csv('true.csv')
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [3]:
true_df['label'] = 1
fake_df['label'] = 0

In [4]:
true_df=true_df.drop(['title','subject','date'],axis=1)

In [5]:
fake_df=fake_df.drop(['title','date','subject'],axis=1)

In [6]:
fake_true=pd.concat([fake_df,true_df],axis=0)

In [7]:
fake_true.isna().sum()

text     0
label    0
dtype: int64

In [8]:
fake_true=fake_true.dropna()

In [9]:
fake_true.isna().sum()

text     0
label    0
dtype: int64

In [10]:
fake_true.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [11]:
fake_true=fake_true.sample(frac=1)

In [12]:
fake_true.reset_index(inplace=True)

In [13]:
fake_true.head()

   index                                               text  label
0  18343  The guy who wasn t funny enough to land the co...      0
1  13044                                                         0
2   4948  WASHINGTON/BOCA RATON (Reuters) - The top U.S....      1
3  11204  DEMS,The Merrick Garland SHIP HAS SAILED  Let ...      0
4  12268                                                         0

In [14]:
fake_true=fake_true.drop(['index'],axis=1)

In [15]:
fake_true.head()

                                                text  label
0  The guy who wasn t funny enough to land the co...      0
1                                                         0
2  WASHINGTON/BOCA RATON (Reuters) - The top U.S....      1
3  DEMS,The Merrick Garland SHIP HAS SAILED  Let ...      0
4                                                         0

In [16]:
import re
import string
def wordopt(t):  
    # Convert text to lowercase
    t = t.lower()    
    # Remove text within square brackets
    t = re.sub(r'\[.*?\]', '', t)    
    # Remove URLs
    t = re.sub(r'https?://\S+|www\.\S+', '', t)    
    # Remove HTML tags
    t = re.sub(r'<.*?>', '', t)    
    # Remove non-alphanumeric characters (keeping spaces)
    t = re.sub(r'\W+', ' ', t)    
    # Remove any remaining punctuation (if needed)
    # Note: This might be redundant after the above step
    # t = re.sub(f'[{re.escape(string.punctuation)}]', '', t)    
    # Remove newline characters
    t = re.sub(r'\n', ' ', t)    
    # Remove words containing digits
    t = re.sub(r'\b\w*\d\w*\b', '', t)    
    # Remove extra spaces resulting from removal of punctuation, digits, etc.
    t = re.sub(r'\s+', ' ', t).strip()    
    return t

In [17]:
x=fake_true['text']
y=fake_true['label']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [19]:
x_train.shape,x_test.shape

((31428,), (13470,))

In [20]:
y_train.shape,y_test.shape

((31428,), (13470,))

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
x_train = tfidf.fit_transform(x_train)
# x_test = tfidf.fit_transform(x_test)
x_test = tfidf.transform(x_test)

In [22]:
from sklearn.linear_model import LogisticRegression
lr= LogisticRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
y_pred

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [25]:
sample_data = [
    "Clyde Wayne Crews of the Competitive Enterpris...",
    "Stock market crashes as investors panic over new policy changes.",
    "Healthy eating habits can improve your overall well-being and energy levels.",
    "Celebrity gossip: Famous actor spotted on a romantic date with a mystery person.",
    "Sports update: Team wins the championship after a thrilling final match.",
    "Technology trends: New smartphone features advanced AI capabilities.",
    "Travel alert: Popular tourist destination experiences unexpected weather conditions.",
    "Entertainment review: New movie releases to critical acclaim and box office success.",
    "Political debate: Candidates discuss economic strategies and foreign policies.",
    "Science breakthrough: Researchers discover potential treatment for rare disease."
]# Make predictions
x_new = true_df['text']
x_new_transformed = tfidf.transform(x_new)
y_pred2 = lr.predict(x_new_transformed)

# Print predictions
print(y_pred2)

[1 1 1 ... 1 1 1]